:root {
  background-color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.nav-container {
    display: flex;
    background-color: #798c7c;
    margin: 0%;
    border-radius: 35px;
}

.breakfastbtn,
.lunchbtn,
.drinkbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
}

.orderbtn{
  color: rgb(126, 78, 71);
}

  .foodItem {
    list-style: none;
    display: flex;
    align-items: center;
}

.submitbtn {
  margin-bottom: 20px;
}

#cardnumber,
#expdate,
#securitycode,
#firstname,
#lastname,
#address,
#city,
#state,
#postalcode,
#country {
  background-color: #a0c6c9;
}


/* Media Queries */

@media (max-width: 814px) {
  header {
    background-color: #d9d9d9;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .breakfast,
  .lunch,
  .drinks {
    background-color: #a0c6c9;
    width: 75%;
    border-radius: 0px 20px 20px 0px;
    color: white;
  }
  
  .navbtn {
    text-decoration-line: none;
  }


  a {
    color: white;
  }

  .nav-container {
    display: flex;
  }

  body {
    margin: 0;
  }

  .menu {
    text-align: center;
    margin-right: 10px;
  }

  .foodItem {
    text-align: left;
  }
  
  ul{
    padding-left: 5px;
  }

  p {
    margin: 5px;
  }
  
  .swveggie:hover {
    color: transparent;
    background-image: url("../img/southwest.jpg");
    border-radius: 40px;
  }

  .bgouda:hover {
    color: transparent;
    background-image: url("../img/bacongouda.jpg");
    border-radius: 40px;
  }

  .sausage:hover {
    color: transparent;
    background-image: url("../img/sausage.jpg");
    border-radius: 40px;
  }

  .dsbacon:hover {
    color: transparent;
    background-image: url("../img/dsbacon.jpg");
    border-radius: 40px;
  }

  .tomato:hover {
    color: transparent;
    background-image: url("../img/tomato.jpg");
    border-radius: 40px;
  }

  .grilledc:hover {
    color: transparent;
    background-image: url("../img/cheese.jpg");
    border-radius: 40px;
  }

  ._coffee:hover {
    color: transparent;
    background-image: url("../img/coffee.jpg");
    border-radius: 40px;
  }

  ._tea:hover {
    color: transparent;
    background-image: url("../img/tea.jpg");
    border-radius: 40px;
  }

  ._soda:hover {
    color: transparent;
    background-image: url("../img/soda.jpg");
    border-radius: 40px;
  }

  .breakfastname,
  .lunchname {
    margin-right: 15px;
  }

  ._soda:hover,
  ._tea:hover,
  ._coffee:hover,
  .grilledc:hover,
  .tomato:hover,
  .dsbacon:hover,
  .sausage:hover,
  .bgouda:hover,
  .swveggie:hover {
    background-repeat: no-repeat;
    background-color: #1f3933;
  }


  .longlunchname {
    margin-right: 5px;
  }

  .coffee {
    margin-right: 35px;
  }

  .tea {
    margin-right: 55px;

  }

  ._tea {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
  }

  .soda {
    margin-right: 45px;
  }

  .totalcheck {
    display: flex;
    margin-right: 20px;
    width: 35%;
  }

  .checkout {
    position: absolute;
    margin-right: 50%;
    margin-left: 10px;
  }

  .total {
    position: absolute;
    margin-left: 55%;
    margin-right: 20px;
    list-style-type: none;
  }

  #expdate {
    padding-right: 25px;
  }

  #state {
    padding-right: 50px;
  }

  #country {
    margin-bottom: 17px;
  }
}

@media (min-width: 815px) {

  .breakfastbtn,
  .lunchbtn,
  .drinkbtn {
    color: #798c7c;
  }

  .navbtn {
    color: #798c7c;
  }

  .flexbox {
    display: flex;
  }

  .menu {
    flex-direction: row;
    display: flex;
  }

  .breakfastname,
  .lunchname,
  .longlunchname,
  .coffee,
  .tea,
  .soda {
    margin-right: 10px;
  }

  .breakfast,
  .lunch,
  .drinks {
    color: white;
    background-color: #a0c6c9;
    text-align: center;

  }

  .lunch {
    text-align: center;
  }

  .drinks {
    text-align: center;
  }

  .column {
    width: 30%;
    margin: 0 auto;
  }


  #cardnumber,
  #expdate,
  #securitycode,
  #firstname,
  #lastname,
  #address,
  #city,
  #state,
  #postalcode,
  #country {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
  }

  #expdate {
    width: 50.2%;
  }

  #state {
    width: 50.6%;
  }

  .submitbtn {
    margin-left: 25%;
  }

  .total {
    list-style-type: none;
  }
}