:root {
    background-image: url("img/greencoffee.jpg");
    background-repeat: no-repeat;
    background-color: #d9d9d9;
  }

.heading,
.subheading,
a {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 360px) {
    
    .title {
        text-align: center;
    }
    
    .heading {
        color: white;
        font-size: 150px;
        border-bottom: 3px double white;
        margin-bottom: 15.5px;
    }

    .subheading {
        color: white;
        margin-bottom: 15.5px;
    }
    
    a {
        text-decoration: none;
        color: white;
        background-color: #798c7c;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 2px 10px black;
    }


}